[submodule "src/services/mediator/lib/mappings/semantic-mappings-europeana"]
	path = src/services/mediator/lib/mappings/semantic-mappings-europeana
	url = https://github.com/AudioCommons/semantic-mappings-europeana
[submodule "src/services/mediator/lib/mappings/semantic-mappings-freesound"]
	path = src/services/mediator/lib/mappings/semantic-mappings-freesound
	url = https://github.com/AudioCommons/semantic-mappings-freesound
[submodule "src/services/mediator/lib/mappings/semantic-mappings-jamendo"]
	path = src/services/mediator/lib/mappings/semantic-mappings-jamendo
	url = https://github.com/AudioCommons/semantic-mappings-jamendo
[submodule "src/services/mediator/lib/mappings/semantic-mappings-iarchive"]
        path = src/services/mediator/lib/mappings/semantic-mappings-iarchive
        url = https://github.com/AudioCommons/InternetArchive4Mediator

