[submodule "src/services/mediator/lib/mappings/europeana-to-audiocommons"]
	path = src/services/mediator/lib/mappings/europeana-to-audiocommons
	url = https://gitlab.com/desmovalvo/europeana-to-audiocommons
[submodule "src/services/mediator/lib/mappings/freesound-to-audiocommons"]
	path = src/services/mediator/lib/mappings/freesound-to-audiocommons
	url = https://github.com/miguel76/freesound-to-audiocommons
[submodule "src/services/mediator/lib/mappings/jamendo-to-audiocommons"]
	path = src/services/mediator/lib/mappings/jamendo-to-audiocommons
	url = https://gitlab.com/desmovalvo/jamendo-to-audiocommons
