{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "HTTPS Access Point",
    "url" : "https://m2.audiocommons.org/api"
  }, {
    "description" : "HTTP Access Point",
    "url" : "http://m2.audiocommons.org/api"
  } ],
  "info" : {
    "description" : "Creative Commons encourages the reuse of creative works by offering them under generous, standardized terms.\n\n[AudioCommons](http://audiocommons.org) is an EU funded project that provides access to Creative Commons licensed audio and develops search, retrieval and audio production tools embedded in Digital Audio Workstations and sound design software.\n\nOur API offers the largest collection of audio content from Freesound, Jamendo and Europeana sounds including sound effects, field recordings, loops, samples and music available under permissive licenses. It also provides a unified search interface.\n",
    "version" : "2.3.2",
    "title" : "AudioCommons Mediator",
    "contact" : {
      "email" : "m.ceriani@qmul.ac.uk"
    }
  },
  "tags" : [ {
    "name" : "search",
    "description" : "Search operations on the audio content providers"
  } ],
  "paths" : {
    "/audioclips/search" : {
      "get" : {
        "tags" : [ "search" ],
        "summary" : "Free text search for audio clips",
        "description" : "Search the content providers for audio clips with content whose metadata contain the provided text",
        "operationId" : "searchAudioClips",
        "parameters" : [
          {
            "name" : "pattern",
            "in" : "query",
            "description" : "Free text used to search for audio clips",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example": "dog"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Max number of results from each source",
            "required" : false,
            "schema" : {
              "type" : "integer",
              "default": 12
            },
            "example": 5
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "Page of results (for all the sources)",
            "required" : false,
            "schema" : {
              "type" : "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name" : "source",
            "in" : "query",
            "description" : "Optionally choose the sources to use (by default all of them are used)",
            "required" : false,
            "schema" : {
              "type" : "array",
              "items": {
                "type": "string",
                "enum": [
                  "freesound",
                  "jamendo",
                  "europeana",
                ]
              }
            },
            "style": "simple",
            "example": "freesound,jamendo"
          }
        ],
        "responses" : {
          "200" : {
            "$ref": "#/components/responses/searchAudioClipsResponse"
          }
        }
      }
    }
  },
  "components" : {
    "responses": {
      "searchAudioClipsResponse": {
        "description" : "Description of the search action status, including the list of audio clips found if successful",
        "content": {
          "application/json": {
            "schema": {
                "$ref": "#/components/schemas/mainSearchAction"
            }
          }
        }
      }
    },
    "schemas": {
      "providerSearchAction": {
        "type": "object",
        "required": [
          "@type", "actionStatus", "object"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "enum": ["schema:SearchAction"]
          },
          "actionStatus": {
            "type": "string",
            "enum": [
              "schema:CompletedActionStatus",
              "schema:FailedActionStatus"
            ]
          },
          "object": {
            "type": "string",
            "example": "http://jamendo.com"
          },
          "query": {
            "type": "string",
            "example": "dog"
          },
          "startTime": {
            "type": "date-time",
            "example": "2018-11-08T12:25:23.978000+00:00"
          },
          "endTime": {
            "type": "date-time",
            "example": "2018-11-08T12:25:24.546000+00:00"
          }
        }
      },
      "error": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "example": "jamendo-error-types:5"
          },
          "label": {
            "type": "string",
            "example": "Jamendo Api Invalid Client Id Error: Your credential is not authorized.."
          },
          "raisedBy": {
            "$ref": "#/components/schemas/providerSearchAction"
          }
        }
      },
      "audioFile": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "enum": ["ebu:MediaResource"]
          },
          "locator": {
            "type": "string",
            "example": "https://mp3d.jamendo.com/download/track/1491259/mp32/"
          }
        }
      },
      "image": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "enum": ["ebu:Picture"]
          },
          "locator": {
            "type": "string",
            "example": "https://mp3d.jamendo.com/download/track/1491259/mp32/"
          }
        }
      },
      "audioClip": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "jamendo-tracks:1423948"
          },
          "@type": {
            "type": "string",
            "enum": ["ac:AudioClip"]
          },
          "license": {
            "type": "string",
            "example": "http://creativecommons.org/licenses/by-nc-nd/3.0/"
          },
          "title": {
            "type": "string",
            "example": "Haven In Chaos"
          },
          "author": {
            "type": "string",
            "example": "jamendo-artists:504315"
          },
          "duration": {
            "type": "integer",
            "example": 91000
          },
          "originalFile": {
            "$ref": "#/components/schemas/audioFile"
          },
          "availableAs": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/audioFile"}
          },
          "defaultContainerNode": {
            "$ref": "#/components/schemas/audioCollectionNode"
          },
          "images": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/image"}
          }
        }
      },
      "audioCollectionNode": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "enum": ["ac:AudioCollectionNode"]
          },
          "content": {
            "$ref": "#/components/schemas/audioClip"
          },
          "index": {"type": "integer"},
          "isMemberOf": {
            "type": "string"
          }
        }
      },
      "audioCollection": {
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/providerSearchAction"
          },
          "@type": {
            "type": "string",
            "enum": ["ac:AudioCollection"]
          },
          "members": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/audioCollectionNode"}
          }
        }
      },
      "mainSearchAction": {
        "type": "object",
        "required": [
          "@id", "@type", "actionStatus", "object", "query"
        ],
        "properties": {
          "@id": {
            "type": "string",
            "example": "acActions:729bc547-3ff7-43ed-938c-c25f5df9a668"
          },
          "@type": {
            "type": "string",
            "enum": ["schema:SearchAction"]
          },
          "actionStatus": {
            "type": "string",
            "enum": [
              "schema:CompletedActionStatus",
              "schema:FailedActionStatus"
            ]
          },
          "object": {
            "$ref": "#/components/schemas/APIversion"
          },
          "query": {
            "type": "string",
            "example": "dog"
          },
          "results": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/audioCollection"}
          },
          "errors": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/error"}
          }
        }
      },
      "APIversion": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "enum": ["doap:Version"]
          },
          "@id": {
            "type": "string",
            "example": "AC_API:v2.3.2"
          },
          "revision": {
            "type": "string",
            "example": "2.3.2"
          },
          "releaseOf": {
            "type": "string",
            "enum": ["https://m2.audiocommons.org/api/"]
          }
        }
      }
    },
    "securitySchemes" : null
  }
}
