tornado==4.5.2
rdflib==4.2.2
requests==2.20.0
PyYAML==3.13
rdflib-jsonld
PyLD
flask==1.0.2
# check README.md for sepy
# sepy, https://github.com/arces-wot/SEPA-python3-APIs

# colabo.space
rpyc
colabo.flow.audit==0.2.1
colabo.flow.go==0.2.1